app_name=
#下面配置你的域名，收银台会需要
app_uri=http://localhost:8080

#http服务监听端口
http_listen=:8080

#静态资源文件目录
static_path=/static

#日志最大大小（单位MB）
log_max_size=32
#日志最大保存天数
log_max_age=7
#日志最大备份数
log_max_backups=3

# redis配置（必填）
redis_host=127.0.0.1
redis_port=6379
redis_passwd=
redis_db=5




#api接口认证token（必填）
api_auth_token=frtgyhuijkolpfghjkl8520dsadsayguhijokGYHUIJOKPLFGHJKL

#订单过期时间(单位分钟)不设置则默认10分钟
order_expiration_time=10

#强制汇率(设置此参数后每笔交易将按照此汇率计算，例如:6.4 ，不设置会强制为6.4)
forced_usdt_rate=1

#钱包地址
wallet_address=
#钱包状态 1:启用 2:禁用[必填]
wallet_status=1

#如果要修改钱包地址，请直接操作sqlite数据库或者备份数据库，然后删除，重新程序就行

# 客服联系方式
customer_service_contact=

# Bark 通知服务
bark_key=
